<section class="listing">
  <img 
  class="listing-photo"
  [src]="housingLocation.photo" 
  alt="Exterior photo off {{ housingLocation }}"
  crossorigin
  />

  <div class="btn-container">
    <button type="button" #showComments>Mostrar infos</button>
  </div>
  
  @defer (on hover; on interaction(showComments)) {
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <p class="listing-location">{{ housingLocation.city }}, {{ housingLocation.state }}</p>
    <a [routerLink]="['/details', housingLocation.id]">Learn More</a>
  } @placeholder (minimum 3s) {
    <p>Placeholder for infos</p>
  } @loading (minimum 2s; after 500ms) {
    <p>Loading info...</p>
  } @error {
    <p>Failed to load infos</p>
  }
</section>