:host {
  --primary-color: rgb(133, 20, 245);
  --secondary-color: rgb(239, 121, 239);
  --accent-color: rgb(217, 182, 242);
  font-family: 'Segoe UI', sans-serif;
}

.brand-name {
  padding: 8px 16px;
}

.brand-logo {
  width: 200px;
}